.search-bar-container {
  display: flex;
  align-items: center;

}

.search-result-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 5rem;
  border: 1px solid black;
  /* Add a black border with 1px width */
  padding: 10px;
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.search-result-container-empty {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 5rem;
  /* Add a black border with 1px width */
  padding: 10px;
  border-radius: 5px;
  margin-left: 2rem;
  margin-right: 2rem;
}


li {
  margin-bottom: 1rem;
  align-items: LEFT;
  list-style: none;

}

.result-forecast {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  /* Vertically center the content */
  justify-content: center;
  /* Horizontally center the content */
}

.result-name {
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
  border-bottom: 1px solid #000000;
  /* Add a 1px solid line as the bottom border */
  padding-bottom: 5px
}

.result-temperature {
  align-items: center;
  margin-top: 1.5rem;
  font-size: xx-large;
  text-align: center;
  /* Center the text horizontally */


}

.result-condition {
  display: flex;
  align-items: center;
  font-size: larger;
  /* Vertically center the content */
  justify-content: center;
  /* Horizontally center the content */

}

.result-forecast {
  margin-top: 3rem;
  font-size: large;
  text-align: left;

}


.sun-icon {
  animation: rotate 2s alternate-reverse 2;
  transform-origin: center;
  margin-bottom: -0.3rem;
}

.snow-icon,
.rain-icon,
.windy-icon,
.cloudy-icon,
.thunderstorm-icon {
  margin-bottom: -0.3rem;
}

.humidity-icon {
  margin-bottom: -0.17rem;
  margin-left: -0.2rem;

}

.result-uv {
  display: grid;
  align-items: center;
  justify-content: center;
  /* Horizontally center the container */
  grid-template-columns: repeat(2, 1fr);
  /* Create 2 columns with equal width */
  grid-template-rows: repeat(2, 1fr);
  /* Create 2 rows with equal height */
  gap: 10px;
  /* Add any desired gap between the squares */
  width: 200px;
  /* Adjust the size of the big square as per your preference */
  height: 200px;
  /* Adjust the size of the big square as per your preference */
  background-color: #ccc;
  /* Add any desired background color for the big square */
  margin-top: 1rem;
  /* Add any desired margin */
}

.small-square {
  width: 100%;
  /* Each smaller square takes 100% of the column width */
  height: 100%;
  /* Each smaller square takes 100% of the row height */
  background-color: #210909;
  /* Add any desired background color for the smaller squares */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}