.search-bar-container {
  display: flex;
  align-items: center;

}

.search-result-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 5rem;
  border: 1px solid black;
  /* Add a black border with 1px width */
  padding: 10px;
  border-radius: 10px;
  margin-left: 4rem;
  margin-right: 4rem;
}

.search-result-container-empty {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 5rem;
  /* Add a black border with 1px width */
  padding: 10px;
  border-radius: 5px;
  margin-left: 2rem;
  margin-right: 2rem;
}


li {
  margin-bottom: 30px;
  align-items: center;
  list-style: none;
  font-size: medium;
  /* Remove default list-style dots */
}

.result-forecast {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  /* Vertically center the content */
  justify-content: center;
  /* Horizontally center the content */
}

.result-name {
  font-weight: bold;
  align-items: center;
  font-size: xx-large;
  border-bottom: 1px solid #000000;
  /* Add a 1px solid line as the bottom border */
  padding-bottom: 5px
}

.result-temperature {
  align-items: center;
  margin-top: 1.5rem;
  font-size: xx-large;
  text-align: center;
  /* Center the text horizontally */


}

.result-condition {
  display: flex;
  align-items: center;
  font-size: large;
  align-items: center;
  /* Vertically center the content */
  justify-content: center;
  /* Horizontally center the content */

}

.result-forecast {
  margin-top: 3rem;
  font-size: medium;
  text-align: center;

}


.sun-icon {
  animation: rotate 2s alternate-reverse 2;
  transform-origin: center;
  margin-top: auto;
}

.snow-icon {
  margin-top: auto;
}

.rain-icon {
  margin-top: auto;
}

.windy-icon {
  margin-top: auto;
}

.thunderstorm-icon {
  margin-top: auto;
}

.cloudy-icon {
  margin-top: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}